version: "3.9"

services:
  web:
    container_name: event_driven_articles_web
    image: python:3.10-slim
    working_dir: /app
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    command: >
      sh -c "
      pip install --no-cache-dir -r requirements.txt &&
      python manage.py migrate &&
      python manage.py runserver 0.0.0.0:8000
      "
